body {
  font-family: courier, courier new, fixed-width;
  margin: 0;
  padding: 0;
}

body, td {
  font-size: 10pt;
}

.content {
  padding: 30px;
  font-family: Arial, Verdana, sans-serif;
}

.topbar {
  background-color: #ddd;
  margin-bottom: 0px;
  padding: 3px;
}
.topbar h2, .topbar h3 {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 26px;
}
.topbar h2 {
  margin-right: 20px;
  margin-left: 10px;
}
.topbar h3 .timezone {
  color: #999;
}
.topbar ul.right {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.topbar ul.right li {
  float: left;
  margin-left: 20px;
  line-height: 26px;
  font-size: 15px;
}
.topbar .disabled {
  color: #999;
}
.clear {
  clear: both;
}


.logs {
  padding: 10px;
}


a.time {
  color: #999;
}
.msg-join, .msg-join a, .msg-join .nick {
  color: #bbb;
}
.msg-wiki, .msg-wiki a {
  color: #542b76;
}
.msg-twitter.msg-retweet {
  opacity: 0.5;
}
.msg-twitter, .msg-twitter a {
  color: #345e84;
}
a {
  color: #222299;
}
.nick {
  color: #a13d3d;
}


.skip {
  margin-bottom: 12px;
}
#bottom {
  margin-top: 12px;
}

@media (orientation: portrait) {
  body {
    width: 100%;
    font-size: 11pt;
  }
  .line {
    margin-bottom: 6px;
    overflow-x: scroll;
  }
}

